<form [formGroup]="projectForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

      <div class="cross-validation" [class.cross-validation-error]="projectForm.errors?.identityRevealed && (projectForm.touched || projectForm.dirty)">
            <div class="form-group">
                <label for="name">Project Name</label>
                <input type="text" id="name" class="form-control"
                      formControlName="name" required>
      
                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="name.errors?.required">
                    Project Name is required.
                  </div>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" class="form-control"
                      formControlName="description" required>
      
                <div *ngIf="description.invalid && (description.dirty || description.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="description.errors?.required">
                    Description is required.
                  </div>
                </div>
          </div>
        
      <div class="form-group">
            <label for="deadline">Deadline</label>
            <input type="date" id="deadline" class="form-control"
                  formControlName="deadline" required>
  
            <div *ngIf="deadline.invalid && (deadline.dirty || deadline.touched)"
                class="alert alert-danger">
  
              <div *ngIf="deadline.errors?.required">
                Deadline is required.
              </div>
            </div>
      </div>

      <div class="form-group">
        <label for="teamId">Team ID</label>
        <input type="number" id="teamId" class="form-control"
              formControlName="teamId" required>

        <div *ngIf="teamId.invalid && (teamId.dirty || teamId.touched)"
            class="alert alert-danger">

          <div *ngIf="teamId.errors?.required">
            Team ID is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="authorId">Author ID</label>
        <input type="number" id="authorId" class="form-control"
              formControlName="authorId" required>

        <div *ngIf="authorId.invalid && (authorId.dirty || authorId.touched)"
            class="alert alert-danger">

          <div *ngIf="authorId.errors?.required">
            Author ID is required.
          </div>
        </div>
      </div>

      <div [hidden] class="form-group">
        <label for="createdAt">Created At</label>
        <input type="date" id="createdAt" class="form-control"
              formControlName="createdAt" required>

        <div *ngIf="createdAt.invalid && (createdAt.dirty || createdAt.touched)"
            class="alert alert-danger">

          <div *ngIf="createdAt.errors?.required">
            Created At is required.
          </div>
        </div>
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button type="submit"
              class="btn btn-default"
              [disabled]="projectForm.invalid"
              (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-default"
             (click)="formDir.resetForm({})">Reset</button>
      <button type="button" class="btn btn-default"
             (click)="goBack()">Go back</button>
    </div>
    </div>
  </form>