<div class="title">{{ title }}</div>
<div class="empty"></div>
<mat-card *ngIf="hideUserCreate" class="users-container">
    <button class="btn btn-submit" (click)="showCreate()" style="margin-bottom: 1em;">
        <span [hidden]="!hideUserCreate"> Create user</span>
    </button>
    <app-users-list *ngIf="users.length && !loadingUsers" [users]="users" (selectedUserId)="editUser($event)" (selectedUserToDeleteId)="deleteUser($event)">
    </app-users-list>
</mat-card>
<div *ngIf="!hideUserCreate" class="edit-window">
    <app-user-form [user]="selectedUser" [isCreate]="isCreate" (userChange)="saveUser($event)"></app-user-form>
</div>