
<div class="user">
    <div class="user-name">
        {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
    </div>
    <div class="user-email">
        Email: {{ user.email }}
    </div>
    <div class="user-registered-at">
        Registered At: {{ user.registeredAt | customDate }}
    </div>
    <div class="user-birthday">
        Birthday: {{ user.birthDay | customDate }}
    </div>
    <div *ngIf="user.teamId != null" class="user-teamId">
        Team ID: {{ user.teamId }}
    </div>
</div>
<div class="user-options">
    <button class="user-edit" (click)="editUser()">Edit</button>
    <button class="user-delete" (click)="deleteUser()">Delete</button>
</div>