<div class="container">
    <div *ngFor="let _team of teams">
        <app-team-details [team]="_team" (teamToEditEvent)="editTeam($event)" (teamToDeleteEvent)="deleteTeam($event)"></app-team-details>
    </div>
</div>