nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    background-color: #0064FE;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover{
    background-color: #035AE1;
}