.task{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    border: 3px solid black;
    padding: 10px;
    height: 200px;
}

.task-name{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.task-options{
    display: flex;
    justify-content:center
}

.task-edit{
    background-color: rgb(28, 207, 28);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    width: 100%;
}

.task-delete{
    background-color: red;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    width: 100%;
}

button:hover{
    cursor: pointer;
}