
<div class="task">
    <div class="task-name">
        {{ task.name | titlecase }}
    </div>
    <div class="task-description">
        Description: {{ task.description }}
    </div>
    <div class="task-created-at">
        Created At: {{ task.createdAt | customDate}}
    </div>
    <div *ngIf="task.finishedAt != null" class="task-finished-at">
        Finished At: {{ task.finishedAt | customDate}}
    </div>
    <div class="task-state">
        State: <span appState>{{ taskState }}</span>
    </div>
</div>
<div class="task-options">
    <button class="task-edit" (click)="editTask()">Edit</button>
    <button class="task-delete" (click)="deleteTask()">Delete</button>
</div>